<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Add Member - TripHarmony</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/addMember.css">

</head>
<!-- class="nav-link active" -->
<body>
    <header>
        <img class="logo" src="../static/images/logo.png" alt="Trip Harmony Logo">
        <ul>
            <li><a href="{{ url_for('tripDetails') }}" class="nav-link active">Trip Details</a></li>
            <li><a href="{{ url_for('chooseActivities') }}">Choose Activities</a></li>
            <li><a href="{{ url_for('voteActivities') }}">Rank Activities</a></li>
            <li><a href="{{ url_for('viewItinerary') }}">View Itinerary</a></li>
            <li><a href="{{ url_for('tripBudget') }}">Trip Budget</a></li>
        </ul>
        <a href="{{ url_for('profilePage') }}">
            <img class="profile-icon" src="../static/images/profile.png" alt="profile">
        </a>
    </header>
    <div class="blue-bg"></div>
    <div class="trip-form">
        <div id="trip-slider">
            <button class="slider">
                <span class="form-text">Trip Details</span>
            </button>
            <button class="slider" id="selected-slider">
                <span class="slider-selected-text">Group Members</span>
            </button>
        </div>
        <div class="section-title">Add People</div>
        <div class="people-container">
            <div class="person-entry non-editable">
                <img src="../static/images/User_cicrle_light.jpg" alt="User Icon" class="icon-you">
                <span class="person-text">You</span>
            </div>
            <div class="person-entry editable">
                <img src="../static/images/Add_light.png" alt="User Add" class="icon-add">
                <input class="input-box" type="text" placeholder="Enter email">
            </div>
        </div>
    </div>

</body>
</html>