<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Choose Activities - TripHarmony</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/tripBudget.css">

</head>

<body>
    <header>
        <a href="{{ url_for('index') }}"><img class="logo" src="../static/images/logo.png" alt="Trip Harmony Logo"></a>
        <ul>
            <li><a href="{{ url_for('tripDetails') }}">Trip Details</a></li>
            <li><a href="{{ url_for('chooseActivities') }}">Choose Activities</a></li>
            <li><a href="{{ url_for('voteActivities') }}" >Rank Activities</a></li>
            <li><a href="{{ url_for('viewItinerary2') }}" >View Itinerary</a></li>
            <li><a href="{{ url_for('tripBudget') }}"  class="nav-link active">Trip Budget</a></li>
        </ul>
        <a href="{{ url_for('profilePage') }}">
            <img class="profile-icon" src="../static/images/profile.png" alt="profile">
        </a>
    </header>

    <div id="content">
        <div id="budget-total">$150</div>

        <div id="budget-info">The budget shown above is based on the lowest personal budget in the group. <br/> <br/> Select an activity to edit the cost.</div>

        <button class="activity-button">
            <div class="ranked_activity">
                <input type="text" class="cost" placeholder="$40+"><br>
                <div class="short_description">
                    <h3 class="activity-name">Bryant Park Winter Village</h3>
                    <p class="activity-info">Click for description...</p>
                    <div class="activity-highlights">
                        <span class="activity-highlight"><img src="../static/images/clock.png" class="highlight-icon"/>2 hours</span>
                        <span>$40+</span>
                        <span class="activity-highlight"><img src="../static/images/location_pin.png" class="highlight-icon"/>Location</span>
                    </div>
                </div>
                <div id="image1" class="activity_image">
                    <!-- <img class="activty-image" src="statue.jpg" alt="profile"> -->
                </div>
            </div>
        </button>

        <button class="activity-button">
            <div class="ranked_activity">
                <input type="text" class="cost" placeholder="$20+"><br>
                <div class="short_description">
                    <h3 class="activity-name">The Statue of Liberty</h3>
                    <p class="activity-info">Click for description...</p>
                    <div class="activity-highlights">
                        <span class="activity-highlight"><img src="../static/images/clock.png" class="highlight-icon"/>2 hours</span>
                        <span>$20+</span>
                        <span class="activity-highlight"><img src="../static/images/location_pin.png" class="highlight-icon"/>Location</span>
                    </div>
                </div>
                <div id="image2" class="activity_image">
                    <!-- <img class="activty-image" src="statue.jpg" alt="profile"> -->
                </div>
            </div>
        </button>

        <button class="activity-button">
            <div class="ranked_activity">
                <input type="text" class="cost" placeholder="$0+"><br>
                <div class="short_description">
                    <h3 class="activity-name">Central Park</h3>
                    <p class="activity-info">Click for description...</p>
                    <div class="activity-highlights">
                        <span class="activity-highlight"><img src="../static/images/clock.png" class="highlight-icon"/>2 hours</span>
                        <span>$0+</span>
                        <span class="activity-highlight"><img src="../static/images/location_pin.png" class="highlight-icon"/>Location</span>
                    </div>
                </div>
                <div id="image3" class="activity_image">
                    <!-- <img class="activty-image" src="statue.jpg" alt="profile"> -->
                </div>
            </div>
        </button>

        <button class="activity-button">
            <div class="ranked_activity">
                <input type="text" class="cost" placeholder="$0+"><br>
                <div class="short_description">
                    <h3 class="activity-name">Hudson Yards Lights</h3>
                    <p class="activity-info">Here is a description of this...</p>
                    <div class="activity-highlights">
                        <span class="activity-highlight"><img src="../static/images/clock.png" class="highlight-icon"/>2 hours</span>
                        <span>$0+</span>
                        <span class="activity-highlight"><img src="../static/images/location_pin.png" class="highlight-icon"/>Location</span>
                    </div>
                </div>
                <div id="image4" class="activity_image">
                    <!-- <img class="activty-image" src="statue.jpg" alt="profile"> -->
                </div>
            </div>
        </button>

        <button class="activity-button">
            <div class="ranked_activity">
                <input type="text" class="cost" placeholder="$0+"><br>
                <div class="short_description">
                    <h3 class="activity-name">The MET Museum</h3>
                    <p class="activity-info">Here is a description of this...</p>
                    <div class="activity-highlights">
                        <span class="activity-highlight"><img src="../static/images/clock.png" class="highlight-icon"/>2 hours</span>
                        <span>$0+</span>
                        <span class="activity-highlight"><img src="../static/images/location_pin.png" class="highlight-icon"/>Location</span>
                    </div>
                </div>
                <div id="image5" class="activity_image">
                    <!-- <img class="activty-image" src="statue.jpg" alt="profile"> -->
                </div>
            </div>
        </button>

    </div>

</body>
</html>